@media (orientation: landscape){
#layout {
    padding-right: constant(safe-area-inset-right);
    padding-right: env(safe-area-inset-right);
    padding-left: constant(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
}
}

@media (min-width: 768px){
.l-body {
    margin: 0 auto;
}
}

.l-body {
    display: -webkit-box;
    display: flexbox;
    display: flex;
    background-color: #fff;
    height: 100%;
    box-sizing: content-box;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.l-wrap {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    min-height: 100%;
}

.l-contents {
    width: 100%;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    display: -webkit-box;
    display: flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
}

